################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codeGenerator/src/.vs
/codeGenerator/src/*/bin/Debug
/codeGenerator/src/*/obj/Debug
/codeGenerator/src/*/bin/Release
/codeGenerator/src/*/obj/Release
/codeGenerator/src/packages
/codeGenerator/tool/*.exe
/codeGenerator/tool/*.dll
!/codeGenerator/tool/AStyle32*.dll
